*{
    margin: 0;
    font-family: monospace;
}
/*Estilização da barra de navegação*/
nav {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 10;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
  }
  
  nav a:hover {
    background-color: #fff;
    color: #333;
  }
  nav .active{
    background-color: #fff;
    color: #333;
  }

  /*Estilização do conteúdo*/
  main{
    padding: 30px;
    margin: 30px;
    border: solid #333;
    
  }
  h1{
    margin-bottom: 30px;
    text-align: center;
  }
  main li{
    margin:20px;
  }
  main a{
    color: #335;
    text-decoration: none;
  }
  main img{
    border: solid #335 4px;
    margin: 15px;
  }
  main .row{
    display: flex;
  }
  main .column{
    width: 50%;
  }
  p{
    margin-bottom: 10px;
  }

  /*Sobre mim */
  .profile-picture{
    display: block;
    margin: auto;
    width: 350px;
  }
  .bio{
    margin: 20px 0;
  }
  /*Portfólio*/
  .description{
    padding-top: 35px;
  }
  .github{
    text-align: right;
  }
  .hide{
    display: none;
  }
/*Responsividade*/
@media only screen and (max-width:850px){
  main .row{
    flex-direction: column;
  }
  main .column{
    width: 100%;
  }
  img, .profile-picture{
    width: 100%;
    max-width: 350px;
  }
  ul{
    padding-left: 15px;
  }
}
